*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat' ;
}

main{
    width: 100vw;
    height: 100vh;
}

header{
    margin: 44px 0px 0px 76px;
}

.container-left{
    display: inline-block;
}

.login{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
}

a{
    color: #989D9C;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-right: 23px;
}

img{
position: absolute;
top: 217px;
left: 125px;
width: 568px;
height: 500px;
}

.container-right{
    position: absolute;
    top: 217px;
    left: 779px;
   

}

h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    width: 513px ;
    height: 122px; 
}

h2{ 
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    width: 448px;
    height: 71px;
}

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    height: 87px;
    margin:32px 0 65px 0 ;
}

.explore{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
}


@media screen and (max-width: 800px) {
  

    header{
        display: none;
    }

    p{
        display: none;
    }
    
    img{
        width:354px ;
        height: 317px;
        position: absolute;
        top: 149px;
        left: 14px;

    }

    .container-right{
        position: absolute;
        top: 490px;
        left: 64px;
        
    }

   h1{
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    color: #515151;
    width: 263px;
    height: 52px;
    text-align: center;
   }
   
   h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #515151;
    width: 232px;
    height: 37px;
    margin: 7px 0 17px 15px;
   
   }

   .explore{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    width: 239px;
    height: 64px;
   
   }
}

